<div class="container py-5">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-6 mx-auto">

                    <!-- form card login -->
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Enter your name to join</h5>
                            </div>
                            <div class="modal-body">
                                <form method="POST" action="/signup">
                                    <div class="form-group">
                                        <label for="invite-link" class="col-form-label">Name:</label>
                                        <input type="text" class="form-control" name="name" id="invite-link">
                                    </div>
                                    <!--<div class="form-group">-->
                                    <!--<label for="message-text" class="col-form-label">Message:</label>-->
                                    <!--<textarea class="form-control" id="message-text"></textarea>-->
                                    <!--</div>-->
                                    <div class="modal-footer">
                                        <button type="submit" class="btn btn-success" id="copy-to-clpb">GO!</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--/row-->
        </div>
        <!--/col-->
    </div>
    <!--/row-->
</div>
<!--/container-->
