<!DOCTYPE html>
<html>
<head>
    <!--<link rel="stylesheet" href="/stylesheets/normalize.css">-->

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="/js/application.js"></script>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <title>ElbrusCodepad</title>
</head>
<body>

<header>

</header>

<div>
    <div>
        {{{body}}}
    </div>
</div>
</body>
</html>
