<div class="container-fluid mt-2">
    <ul class="nav nav-tabs justify-content-end">

        <li class="nav-item mr-md-auto">
            <button id="run-btn" class="btn btn-success navbar-btn mb-2">Run ></button>
        </li>
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#code-result">Result</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#profile">Messenger</a>
        </li>
    </ul>
    <div class="row">
        <div class="col-md-6">

            <style type="text/css" media="screen">
                #editor {
                    /*position: absolute;*/
                    top: 20px;
                    right: 50px;
                    bottom: 0px;
                    left: 10px;
                    width: 100%;
                    height: 85vh;
                    background-color: #222222;
                }
            </style>
            <div id="editor">

            </div>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.5/ace.js" type="text/javascript"
                    charset="utf-8"></script>
            <script>
                let editor = ace.edit("editor");
                editor.setTheme("ace/theme/monokai");
                editor.session.setMode("ace/mode/javascript");
                editor.setOptions({
                    fontSize: "18px",
                })
            </script>
        </div>
        <div class="col-md-6 border-left border-dark">

            <div id="myTabContent" class="tab-content">
                <div class="tab-pane fade active show" id="code-result">
                    <p>Code Result</p>
                </div>
                <div class="tab-pane fade" id="profile">
                    <pre>router.route('/login')
                        .get(sessionChecker, (req, res) => {
                        res.redirect('/entries');
                        </pre>
                </div>
            </div>
        </div>
    </div>
</div>


<div>

</div>

<main>
</main>

<div class="navbar fixed-bottom">
    <footer class="footer">
        <div class="container">
            <span id="footerPen" class="text-muted">Place sticky footer content here.</span>
        </div>
    </footer>
</div>